{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


{{!-- Код V1 --}}

{{!-- <main>
	<div class="box">
		<div class="header">
			<button clacc="header__button">
				<img src="svg/back.svg">
			</button>

			<div class="header__img">
				<img src="img/icon.png">
			</div>
		</div>

		<div class="body">
			<h2 class="body__header text-big">
				Мій блог
			</h2>

			<div class="body__card">
				<div class="body__top">
					<div class="body__top-error">Важливо</div>
					<div class="body__top-new">Нова</div>

					<div class="body__top-time text">25.01</div>
				</div>

				<div class="text">
					До біса планувальник, наймемо дизайнера і готуємося до презентації, як Джобс
				</div>
			</div>

			<div class="body__card body__card-grey">
				<div class="body__top">
					<div class="body__top-error">Важливо</div>
					<div class="body__top-new">Нова</div>

					<div class="body__top-time text-gray">15.01</div>
				</div>

				<div class="text text-gray">
					Ми хотіли, щоб у цьому чаті було близько 150 людей, щоб зробити якісний пак самопрезентацій
				</div>
			</div>

			<div class="body__card">
				<div class="body__top">
					<div class="body__top-error">Важливо</div>
					<div class="body__top-new">Нова</div>

					<div class="body__top-time text">25.01</div>
				</div>

				<div class="text">
					До біса планувальник, наймемо дизайнера і готуємося до презентації, як Джобс
				</div>
			</div>
		</div>
	</div>
</main> --}}

{{!-- Код V2 --}}

<div class="page">
	{{!-- <header class="header">
		<button class="button">
			<img src="/svg/back.svg" width="24px" height="24px">
		</button>

		<button class="button">
			<img src="/img/icon.png" width="24px" height="24px">
		</button>
	</header> --}}

	{{!-- <h1 class="title">My blog</h1> --}}

	{{!-- <main class="post__list">
		<div class="post button">
			<div class="post__header">
				<div class="post__category-list">
					<span class="post__category post__category--1">Важливо</span>
					<span class="post__category post__category--2">Нова</span>
				</div>

				<span class="post__date">25.01</span>
			</div>

			<p class="post__info">
				До біса планувальник, наймемо дизайнера і готуємося до презентації, як Джобс
			</p>
		</div>

		<div class="post button post--viewed">
			<div class="post__header">
				<div class="post__category-list">
					<span class="post__category post__category--1">Важливо</span>
					<span class="post__category post__category--2">Нова</span>
				</div>

				<span class="post__date">23.01</span>
			</div>

			<p class="post__info">
				Ми хотіли, щоб у цьому чаті було близько 150 людей, щоб зробити якісний пак самопрезентацій
			</p>
		</div>

		<div class="post button">
			<div class="post__header">
				<div class="post__category-list">
					<span class="post__category post__category--1">Важливо</span>
					<span class="post__category post__category--2">Нова</span>
				</div>

				<span class="post__date">25.01</span>
			</div>

			<p class="post__info">
				До біса планувальник, наймемо дизайнера і готуємося до презентації, як Джобс
			</p>
		</div>
	</main> --}}
</div>



{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}